body {
  background: #a7a9ac;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.34, rgba(230, 237, 241, 0.05)),
    color-stop(0.67, rgba(230, 237, 241, 0))
  );
  font-family: Lato, sans-serif;
  text-align: center;
}

.project-header {
  margin-bottom: 30px;
  margin-top: 20px;
}

.card-column {
  display: inline-block;
}

.card-button {
  display: block;
  margin: 10px 5px;
}

.card-column {
  display: inline-block;
}

.project-main,
.project-header {
  display: block;
}
